<!-- LOADER -->
<div id="preloader">
  <div class="loader">
    <img src="/images/loader.gif" alt="#" />
  </div>
</div>
<!-- end loader -->
<!-- END LOADER -->

<!-- Start header -->
<header class="top-header">
  <nav class="navbar header-nav navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"
        ><img src="{{ site.logo }}" alt="image"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-wd"
        aria-controls="navbar-wd"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
        <ul class="navbar-nav">
          {% for menu in site.menus %}
          <li>
            <a class="nav-link" href="{{ menu.link }}">{{ menu.title }}
              {% if menu.submenus %}
                <i class="fa fa-angle-down"></i></a>
                <ul>
                  {% for submenu in menu.submenus %}
                    <li><a href="{{ submenu.link }}">{{ submenu.title }}</a></li>
                  {% endfor %}
                </ul>
              {% else %}
                </a>
              {% endif %}            
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="search-box">
        <input type="text" class="search-txt" placeholder="Search" />
        <a class="search-btn">
          <img src="/images/search_icon.png" alt="#" />
        </a>
      </div>
    </div>
  </nav>
</header>
<!-- End header -->
