<!DOCTYPE html>
<html lang="en">
  <!-- Basic -->
  {%- include head.html -%}

  <body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
    {%- include header.html -%}
    <div style="margin-top: 100px">
      <div class="container">
        <div class="row">
          <div class="col">
            <div id="defaultlayout">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {%- include footer.html -%} {%- include footer-script.html -%}
  </body>
</html>
